<section class="flex flex-column text-center mt-5">
    <div class="flex align-self-center justify-content-between w-9">
      <img class="w-4rem" src="assets/logo.png">
      <button pButton pRipple type="button" label="MY CV" (click)="download()" class="text-xl p-button-raised p-button-text"></button>
    </div>
  <h1 class="text-6xl mb-0 mt-8">Front-end Developer</h1>
  <h3 class="">I Code for a living, and for fun :)</h3>
  <!-- <div  style="background-image: url('assets/avatar.svg'); background-position: center; background-repeat: no-repeat;" class="h-16rem">
    <img id="googly" class="eye" src="assets/eye.png" class="max-w-2rem">
    <img class="eye" src="assets/eye.png" class="max-w-2rem mt-8 ml-3">
  </div> -->
    <div class="flex flex-column">
      <img src="assets/avatar.svg" alt="Avatar" class="w-4 md:w-2 max-w-14rem mt-5 flex align-self-center">
      <img src="assets/hero-devices.svg" alt="Devices" class="w-10 md:w-6 mt-8 flex align-self-center">
    </div>



</section>
