<section class="text-center mt-8">
  <h2>Here are a few projects I've worked on recently.</h2>
  <div class="flex flex-wrap justify-content-evenly mt-6">
    <a href="https://orkos.netlify.app/home" title="Visit Website" target="_blank" class="w-10 md:w-5 lg:w-3 my-3 md:m-2">
      <img src="assets/orkos.png"   class="hov1 w-full" alt="Orkos">
    </a>
    <a href="https://criplycards.netlify.app/home" title="Visit Website" target="_blank" class="w-10 md:w-5 lg:w-3 my-3 m-2">
      <img src="assets/cards.png" class="hov2 w-full" alt="cards">
    </a>
    <a href="https://criply.netlify.app/" title="Visit Website" target="_blank" class="w-10 md:w-5 lg:w-3 my-3 m-2">
      <img src="assets/clothes.png" class="hov3 w-full" alt="clothes">
    </a>
  </div>
</section>