<section class="flex flex-wrap justify-content-center">
  <div class="design flex justify-content-center align-items-center pb-5 ">
    <div class="flex flex-column w-10 md:w-8 text-center justify-content-center align-items-center">
      <div class="flex flex-row mt-6">
        <button pButton pRipple type="button" icon="pi pi-code" class="p-button-raised p-button-text p-button-rounded mt-1 "></button>
        <h3 class="mr-5">Web Developer</h3>
      </div>
      <p class="line-height-3">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
      <h4 class="purp-color mt-6">Languages I speak:</h4>
      <p class="mt-0">JavaScript/ TypeScript, CSS3, SCSS, HTML5, and more...</p>
      <h4 class="purp-color mt-6">Dev Tools:</h4>
      <ul class="line-height-2 p-0 mt-0">
        <li>Angular</li>
        <li>Vs Code</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>NestJS</li>
        <li>NGRX</li>
      </ul>
    </div>
  </div>
  <div class="design flex justify-content-center align-items-center pb-5">
    <div class="flex flex-column w-10 md:w-8 text-center justify-content-center align-items-center">
      <div class="flex flex-row mt-6">
        <button pButton pRipple type="button" icon="pi pi-book" class="p-button-raised p-button-text p-button-rounded mt-1"></button>
        <h3 class="mr-5">Designer</h3>
      </div>
      <p class="line-height-3">I value simple content structure, clean design patterns, and thoughtful interactions.</p>
      <h4 class="purp-color mt-6">Things I enjoy designing:</h4>
      <p class="mt-0">UX, UI, Web, Apps, Logos</p>
      <h4 class="purp-color mt-6">Design Tools::</h4>
      <ul class="line-height-2 p-0 mt-0">
        <li>Figma</li>
        <li>Font Awesome</li>
        <li>Pen & Paper</li>
        <li>Canva</li>
        <li>Sketch</li>
        <li>Photopea</li>
      </ul>
    </div>
  </div>
  <div class="design flex justify-content-center align-items-center pb-5">
    <div class="flex flex-column w-10 md:w-8 text-center justify-content-center align-items-center">
      <div class="flex flex-row mt-6">
        <button pButton pRipple type="button" icon="pi pi-users" class="p-button-raised p-button-text p-button-rounded mt-1"></button>
        <h3 class="mr-5">Mentor</h3>
      </div>
      <p class="line-height-3">I genuinely care about people, and love helping fellow Developers work on their code.</p>
      <h4 class="purp-color mt-6">Experiences I draw from:</h4>
      <p class="mt-0">Uni Tutoring, Freelancing</p>
      <h4 class="purp-color mt-6">Mentor Stats:</h4>
      <ul class="line-height-2 p-0 mt-0">
        <li>1 year experience</li>
        <li>7 short courses</li>
        <li>1 bootcamp</li>
        <li>200+ students</li>
        <li>50+ mentor sessions</li>
        <li>5+ group critiques</li>
      </ul>
    </div>
  </div>
</section>