li{
  list-style-type: none;
}

.design{
  border-radius: 1.5rem;
  box-shadow: #5E5DF0 0 0px 20px -0px;
  font-family: Inter,Helvetica;
  font-size: 16px;
  font-weight: 700;
}

.purp-color{
  // color: #5E5DF0;
  color: #c36fb3
}

li{
  line-height: 2;
}